Assets/Scenes* filter=lfs diff=lfs merge=lfs -text
Assets/Materials* filter=lfs diff=lfs merge=lfs -text
Assets/Resources* filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-0_comp_light.exr.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-10_comp_light.exr.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-7_comp_light.exr.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-0_comp_dir.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-0_comp_dir.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-0_comp_light.exr filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-0_comp_shadowmask.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-2_comp_shadowmask.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-4_comp_dir.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/LightingData.asset.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-2_comp_dir.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-6_comp_light.exr filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-9_comp_light.exr.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-12_comp_light.exr.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-2_comp_shadowmask.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-3_comp_dir.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-5_comp_dir.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-5_comp_shadowmask.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-7_comp_shadowmask.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-1_comp_shadowmask.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-12_comp_light.exr filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-12_comp_shadowmask.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-2_comp_dir.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-8_comp_light.exr.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-8_comp_shadowmask.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-1_comp_shadowmask.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-10_comp_dir.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-12_comp_shadowmask.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-3_comp_light.exr filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-5_comp_shadowmask.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-7_comp_dir.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-8_comp_dir.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-1_comp_dir.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-10_comp_shadowmask.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-13_comp_shadowmask.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-3_comp_shadowmask.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-3_comp_shadowmask.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-4_comp_shadowmask.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-6_comp_shadowmask.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-1_comp_light.exr filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-4_comp_dir.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-5_comp_dir.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-0_comp_shadowmask.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-10_comp_shadowmask.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-13_comp_dir.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-3_comp_dir.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-4_comp_shadowmask.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-7_comp_shadowmask.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-8_comp_dir.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/ReflectionProbe-0.exr.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-11_comp_dir.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-11_comp_dir.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-12_comp_dir.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-12_comp_dir.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-13_comp_light.exr.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-2_comp_light.exr.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-9_comp_light.exr filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-1_comp_dir.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-11_comp_shadowmask.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-2_comp_light.exr filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-6_comp_dir.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-9_comp_shadowmask.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-10_comp_light.exr filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-11_comp_light.exr.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-13_comp_light.exr filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-9_comp_shadowmask.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/LightingData.asset filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-7_comp_light.exr filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-8_comp_shadowmask.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/ReflectionProbe-0.exr filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-8_comp_light.exr filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-1_comp_light.exr.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-10_comp_dir.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-11_comp_shadowmask.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-13_comp_dir.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-5_comp_light.exr filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-5_comp_light.exr.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-6_comp_shadowmask.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-9_comp_dir.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/NavMesh.asset filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-3_comp_light.exr.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-4_comp_light.exr filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-4_comp_light.exr.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-6_comp_light.exr.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-7_comp_dir.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-9_comp_dir.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-11_comp_light.exr filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-13_comp_shadowmask.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/Lightmap-6_comp_dir.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/NorseMap/NavMesh.asset.meta filter=lfs diff=lfs merge=lfs -text
